<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.designpattern">

    <application
        android:name="com.example.designpattern1.app.PatternApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.example.designpattern1.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.designpattern1.observer.ObserverActivity" />
        <activity android:name="com.example.designpattern1.factory.FactoryActivity" />
        <activity android:name="com.example.designpattern1.singleton.SingletonActivity" />
        <activity android:name="com.example.designpattern1.strategy.StrategyActivity" />
        <activity android:name="com.example.designpattern1.adapter.AdapterActivity" />
        <activity android:name="com.example.designpattern1.command.CommandActivity" />
        <activity android:name="com.example.designpattern1.decorator.DecoratorActivity" />
        <activity android:name="com.example.designpattern1.facade.FacadeActivity" />
        <activity android:name="com.example.designpattern1.templatemethod.TemplateMethodActivity" />
        <activity android:name="com.example.designpattern1.state.StateActivity" />
        <activity android:name="com.example.designpattern1.builder.BuilderActivity" />
        <activity android:name="com.example.designpattern1.flyweight.FlyweightActivity" />
        <activity android:name="com.example.designpattern1.prototype.PrototypeActivity" />
        <activity android:name="com.example.designpattern1.proxy.ProxyActivity" />
        <activity android:name="com.example.designpattern1.bridge.BridgeActivity" />
        <activity android:name="com.example.designpattern1.composite.CompositeActivity" />
        <activity android:name="com.example.designpattern1.iterator.IteratorActivity" />
        <activity android:name="com.example.designpattern1.mediator.MediatorActivity" />
        <activity android:name="com.example.designpattern1.memento.MementoActivity" />
        <activity android:name="com.example.designpattern1.interpreter.InterpreterActivity" />
        <activity android:name="com.example.designpattern1.chainofresponsibility.ChainOfResponsibilityActivity" />
        <activity android:name="com.example.designpattern1.visitor.VisitorActivity" />
    </application>

</manifest>